<h1>Resumo do Carrinho</h1>
<div class="cart-list">
  @for (cartItem of cartItems(); track $index){
    <app-cart-card
    [product]="cartItem" 
    label="Remove from cart"
    (select)="removeFromCart($index)"
    />
  } @empty {
    <p>Não há items no Carrinho</p>
  }

  <div class="cart-total">
    <span class="total-label">Total:</span>
    <span class="total-value">₹ {{ getTotalPrice().toFixed(2) }}</span>
  </div>


  <div class="button">
    <button [disabled]="totalCartItems() === 0 " (click)="saveOrder()">Save order</button>
  </div>


</div>




