<div class="title"><h2>Produtos Disponíveis</h2></div>

<div class="products-container">
    
    <div class="product" *ngFor="let produtos of produtos">
      <img [src]="produtos.imagem" [alt]="produtos.nome" />
      
      <div class="product-info">
        <h3>{{ produtos.nome }}</h3>
        <p class="price">Preço: R$ {{ produtos.preco }}</p>
        <p class="description">{{ produtos.descricao }}</p>
        <p class="colors">
          Cores Disponíveis:
          <span *ngFor="let cor of produtos.cores" [style.backgroundColor]="cor"></span>
        </p>
        <button (click)="addToCart(produtos)">Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>
  
