/* Container Principal */
.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.products-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

/* Estilo da grade de produtos */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Card de Produto */
.product {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Imagem do Produto */
.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  transition: transform 0.3s ease;
}

.product:hover img {
  transform: scale(1.05);
}

/* Informações do Produto */
.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.4;
}

.product-info .price {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.product-info .description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: left;
}

/* Paleta de Cores */
.product-info .colors {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.product-info .colors span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff; /* Cor padrão caso não definida */
}

/* Botão de ação */
.product-info button {
  display: center;
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.product-info button:hover {
  background-color: #0056b3;
}

.title{
  text-align: center;
  align-content: center;
  
}