<h1>Resumo do Carrinho</h1>

<div *ngIf="cartItems.length > 0; else emptyCart">
  <div *ngFor="let produtos of cartItems; let i = index" class="cart-item">
    <div class="item-details">
      <img [src]="produtos.imagem" alt="{{ produtos.nome }}" class="product-image" />
      <div class="details">
        <p><strong>{{ produtos.nome }}</strong></p>
        <p>Preço: R$ {{ produtos.preco.toFixed(2) }}</p>
      </div>
    </div>
    <button (click)="removeItem(0)" class="remove-btn">Remover</button>
  </div>

  <div class="summary">
    <h2>Total: R$ {{ totalAmount.toFixed(2) }}</h2>
    <button (click)="checkout()" class="checkout-btn">Finalizar Compra</button>
    <button (click)="clearCart()" class="clear-btn">Limpar Carrinho</button>
  </div>
</div>

<ng-template #emptyCart>
  <p>Seu carrinho está vazio!</p>
</ng-template>


