/* Container Principal */
.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.title{
  text-align: center;
}