<div class="home">
    <!-- Banner Principal -->
    <div class="banner">
        <img src="/images/yep.png" alt="Banner Principal">
        <h1>Bem-vindo à CamisasYep</h1>
        <p>Descubra as melhores ofertas em roupas Personalizadas</p>
    </div>

    <!-- Apresentação da Empresa -->
    <div class="about">
        <h2>Sobre Nós</h2>
        <p>
            Somos uma loja de roupas dedicada a oferecer estilo e conforto para todas as ocasiões.
            Nosso objetivo é trazer tendências e qualidade com os melhores preços.
        </p>

        <div class="aboutContent">
            <!-- Sessão 1 -->
            <div class="text-content">
                <h3>Nossa Missão</h3>
                <p>
                    Oferecer roupas de alta qualidade com preços acessíveis, promovendo moda sustentável e conforto.
                </p>
            </div>



            <!-- Sessão 2 -->
            <div class="text-content">
                <h3>Quem Somos</h3>
                <p>
                    Somos uma equipe apaixonada por moda e inovação, dedicada a trazer as últimas tendências do mercado
                    para você.
                </p>
            </div>

            <!-- Sessão 3 -->
            <div class="text-content">
                <h3>Camisetas & histórias</h3>
                <p>
                    Aqui, cada camiseta é uma tela para sua imaginação. Oferecemos personalização completa para que você
                    expresse sua personalidade, criatividade ou compartilhe mensagens únicas. Porque sua ideia merece
                    ser vestida! </p>
            </div>

        </div>
    </div>

    <!-- Destaques e Promoções -->
    <div class="highlights">
        <h2>Destaques e Promoções</h2>
        <div class="highlight-cards">
            <div class="card">
                <img src="/images/promocao.png" alt="Promoção 1">
                <h3>Promoção de Inverno</h3>
                <p>Descontos de até 50% em peças selecionadas.</p>
            </div>
            <div class="card">
                <img src="/images/perfectDry.png" alt="Promoção 2">
                <h3>Novidades</h3>
                <p>Confira nossa nova coleção Primavera-Verão.</p>
            </div>
            <div class="card">
                <img src="/images/frete.png" alt="Promoção 3">
                <h3>Frete Grátis</h3>
                <p>Em compras acima de R$200,00.</p>
            </div>
        </div>
    </div>
</div>